@model KonsulYudiris.Models.Consultant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultantPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultantPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultantSpecialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultantSpecialty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultantDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultantDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConsultantID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
